body{
  margin: 0;
  background-color: #212121;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.side {
  width: 25%;
  height: 100vh;
}

h1 {
  margin: 0px;
}

.title-container{
  background-color:#9e9e9e;
  margin: 1.2em 0em 0.5em 0em;
  height: 3em;
  width: 100%;
}
.search-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.search {
  background-color: #9e9e9e;
  margin: 10px 0px;
  height: 16em;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.joke {
  background-color:#9e9e9e;
  margin: 0.5em 0em 1.2em 0em;
  min-height: 75%;
  width: 100%;
}

input, select {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  width: 130px;
  background-color: #e0e0e0;
}

select{
  width: 151px;
}

li {
  padding: 0.3em;
  border-bottom: 0.1em solid black;
  padding-right: 15px;
}
button {
  width: 10em;
  height: 3em;
  background-color: #e0e0e0;
}
p {
  padding: 0.5em;
  margin: 0.8em;
  border: 0.33em solid black;
}

.button-container{
  width: 100%;
}

@media (max-width:960px) {
  .side{
    width: 5%;
  }
}
